<div class="recipe-detail">
  <div>
    <img src="{{ recipe.imagePath }}" alt="">
  </div>
  <div class="recipe-title">
    <h1>{{ recipe.name }}</h1>
  </div>
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle">
      Manage Recipe
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">To shopping list</a></li>
      <li><a href="#">Edit Recipe</a></li>
      <li><a href="#">Delete Recipe</a></li>
    </ul>
  </div>
</div>
