.container {
  height: 100%;
  width: 100%;
}

.sidenav {
  border-right: none;
  width: 250px;
  padding: 10px;
}

.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.triggers {
  border-right: 1px solid #e91e63;
  height: 100%;
  width: 25px;
}

.content {
  width: 100%;
  padding: 10px;
}
